html,body{
    background-image: url('102.jpg');
    background-size:cover;
    background-repeat: no-repeat;

    }

.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    /* background-color: rgba(165, 178, 236, 0.5) !important; */
    background-color: rgba(0,0,0,0.5) !important;
    };
    